<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acient Planet</title>
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  </head>
  <body>
  {% block navbar %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ancientplanet.eu </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

        {% block navbar_elems %}
        {% endblock %}
        {% for nav in menu %}
          {% if nav.submenu %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.menuTitle|capitalize }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('page', {'id': nav.id}) }}">{{ nav.menuTitle|capitalize }}</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">More:</li>
                {% for sub in nav.submenu %}
                  <li><a href="{{ path('page', {'id': sub.id}) }}">{{ sub.menuTitle|capitalize }}</a></li>
                {% endfor %}
              </ul>
          </li>
          {% else %}
          <li><a href="{{ path('page', {'id': nav.id}) }}">{{ nav.menuTitle|capitalize }}</a></li>
          {% endif %}
        {% endfor %}

          <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  <div class="container" role="main">
  {% block jumbotron %}{% endblock %}
  {% block row %}
    <div class="row">
        <div class="content col-sm-9">
        {% block content %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum turpis est, nec pharetra lectus tempus a. Cras tempor eros augue, ut condimentum ex vulputate eu. Nulla facilisi. Nullam ac interdum orci. Suspendisse vitae elit et mauris imperdiet varius. Suspendisse potenti. Pellentesque laoreet pellentesque arcu in tincidunt. Aenean hendrerit, turpis sit amet porttitor condimentum, lorem turpis tincidunt tortor, a tempus metus ex quis mi.</p>
      {% endblock %}
      </div>
      <div class="col-sm-3">
        {% block right_panel %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Menu</h3>
          </div>
          <div class="panel-body">
            <ul class="menu">
              <li><a href="{{ path('homepage') }}">Homepage</a></li>
            {% for page in menu %}
                <li><a href="{{ path('page', {'id': page.id}) }}">{{ page.menuTitle|capitalize }}</a></li>
            {% endfor %}
              <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  {% endblock %}
  {% block content2 %}{% endblock %}
  </div>
  <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">2016 &copy; Powered by: <a href="https://github.com/oizdar">oizdar.</p>
      </div>
    </footer>
  </body>
</html>

