{% extends 'base.html.twig' %}


{% block content %}
    {% if page.title %}
        <h1>{{ page.title }}</h1>
    {% endif %}
    <p>{{ page.content|raw }}</p>
{% endblock %}

{% block right_panel %}
    {% for panel in panels_head %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ panel.header }}</h3>
      </div>
      <div class="panel-body">
        {{ panel.content|raw }}
      </div>
    </div>
    {% endfor %}

    {{ parent() }}

    {% if menu[page.id] is defined and menu[page.id].submenu %}
    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ page.menuTitle }} - more </h3>
          </div>
          <div class="panel-body">
            <ul class="menu">
            {% for page in menu[page.id].submenu %}
                <li><a href="{{ path('page', {'id': page.id}) }}">{{ page.menuTitle }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
    {% endif %}

    {% for panel in panels %}
      <div class="panel panel-default">
        <div class="panel-body">
            {{ panel.content|raw }}
        </div>
      </div>
    {% endfor %}
{% endblock %}
